<!DOCTYPE HTML>
<html style="height: 99%; width: 99.9%">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/uploader/webuploader.css"/>
    <script src="/uploader/webuploader.js"></script>
</head>
<body class="div-form-container">
<table class="upload">
    <tbody>
    <tr>
        <td height="200px">
            <div id="uploader-container" style="width: 100%">
                <div id="fileList" class="uploader-list">
                </div>
                <div id="upInfo"></div>
                <div id="filePicker">选择文件</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btnSave" id="btnUpload" value="上传"/>
            <input type="button" class="btnSave" id="btnReset" value="重置"/>
            <input type="button" class="btnSave" value="取消" onclick="javascript:closeDialog();"/>
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        var maxSingleSize = 500 * 1024 * 1024, // 单个文件最大10M
            maxSize = 1024 * 1024 * 1024; // 所有文件最大100M
        var $list = $('#fileList'),
            uploader; // Web Uploader实例
        // 初始化Web Uploader
        uploader = WebUploader.create({
            auto: false, // 手动上传
            swf: '/webuploader/Uploader.swf',
            server: 'http://localhost/upload', // 文件接收服务端
            threads: 3, // 同时运行3个线程传输
            duplicate: false, // 是否重复上传（单次选择同样的文件）
            fileNumLimit: 10, // 文件总数量
            fileSingleSizeLimit: maxSingleSize, // 单个文件大小限制 500M
            fileSizeLimit: maxSize, // 文件总大小限制 1G
            pick: {
                id: '#filePicker', // 选择文件的按钮
                multiple: true // 允许可以同时选择多个文件
            },
            compress: false, // 不压缩文件
            accept: {
                extensions: "txt,gif,jpg,jpeg,bmp,png,zip,rar,war,pdf,cebx,doc,docx,ppt,pptx,xls,xlsx",
                mimeTypes: '.txt,.gif,.jpg,.jpeg,.bmp,.png,.zip,.rar,.war,.pdf,.cebx,.doc,.docx,.ppt,.pptx,.xls,.xlsx',
            }
        });

        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $li = $('<div id="' + file.id + '" class="file-item">'
                + '<span class="info">' + file.name + '</span>'
                + '<span class="state">等待上传</span>'
                + '</div>');
            $list.append($li);
        });
        // 上传中
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id);
            var $state = $li.find('span.state');
            $state.html("<font color='#330033'>上传中...</font>");
        });
        // 文件上传成功
        uploader.on('uploadSuccess', function (file, response) {
            var $li = $('#' + file.id);
            var $state = $li.find('span.state');
            $state.html("<font color='green'>上传成功！</font>");
        });
        // 文件上传失败
        uploader.on('uploadError', function (file, code) {
            var $li = $('#' + file.id);
            var $state = $li.find('span.state');
            $state.html("<font color='red'>上传失败！</font>");
        });
        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                layer.msg("请上传JPG、PNG、GIF、BMP格式文件");
                alert("kkk")
            } else if (type == "Q_EXCEED_SIZE_LIMIT") {
                layer.msg("文件大小不能超过2M");
                alert("hhhh")
            }else {
                alert("kkkk")
                layer.msg("上传出错！请检查后重新上传！错误代码"+type);
            }

        });

        // 手动上传
        $("#btnUpload").click(function () {
            // 执行上传操作
            uploader.upload();
        });
        // 重置
        $("#btnReset").click(function () {
            // 清空文件列表，重置上传控件
            $list.html('');
            uploader.reset();
        });
    });
</script>
